html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: #2c2141;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  background-color: #f8f8f8;
  border-radius: 16px;
  width: 624px;
  padding: 32px;
}
.person {
}
.person.description {
  font-size: 16px;
  line-height: 22px;
}
.person__link {
  color: #e20613;
}
.person__name {
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}
.person.picture {
}
.person__position {
  font-size: 18;
  font-style: italic;
  margin: 0;
  color: #545454;
}
.person.picture {
}
.person.info {
}
.special {
  font-weight: normal;
  color: #ed6d05;
}
