html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: #2c2141;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  background-color: #f8f8f8;
  border-radius: 16px;
  width: 624px;
  padding: 32px;
}
.person {
  display: flex;
  align-items: flex-start; /* Obrazek nie jest rozciągany */
}
.person__description {
  font-size: 16px;
  line-height: 22px;
  margin: 0px;
}
.person__description--with-marigin {
  margin-bottom: 22px;
}
.person__link {
  color: #e20613;
  text-decoration: none;
}
.person__name {
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}
.person__picture {
  margin-right: 32px;
  margin-top: auto;
  margin-bottom: auto;
}
.person__position {
  font-size: 18;
  font-style: italic;
  margin: 0;
  color: #545454;
}
.person__info {
  margin-bottom: 24px;
}
.special {
  font-weight: normal;
  color: #ed6d05;
}
