html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: #2c2141;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  /* background-image: url("background.jpg"); */
  /* background-size: cover; */
  background-color: #d5ff52;
  background-image: linear-gradient(270deg, #d5ff52 25%, #38ff2c 100%);

  border-radius: 16px;
  width: 624px;
  padding: 32px;
}
.person {
  display: flex;
  align-items: flex-start; /* Obrazek nie jest rozciągany */
}
.person__description {
  font-size: 16px;
  line-height: 22px;
  margin: 0px;
}
.person__description--with-marigin {
  margin-bottom: 22px;
}
.person__link {
  color: blue;
  text-decoration: none;
}
.person__name {
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}
.person__picture {
  margin-right: 32px;
  margin-top: auto;
  margin-bottom: auto;
  min-height: 200px;
  height: 200px;
  width: 148px;
  border-radius: 50%;
}
.person__position {
  font-size: 18;
  font-style: italic;
  margin: 0;
  color: #545454;
}
.person__info {
  margin-bottom: 24px;
}
.special {
  font-weight: normal;
  color: #ed6d05;
}
@media screen and (max-width: 450px) {
  .main {
    border-radius: 0;
  }
  .person {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
